  /********************* DASHBOARD ***********************/
 .topbox{
   height:160px;
   width:1300px;
   background:lightpink;
   margin-top: -38px;
 }
 .buttonlog{
   float:left;
  background:goldenrod;
  width:100px;  padding-top:5px;
  padding-bottom:5px;
  text-align: center;
  color:white;
  border-radius:40px;
  border: #5986da 1px solid;
  
  margin-top: -33px;
  margin-bottom:20px;
  margin-right:px;
  float:left;
  margin-left: 1145px;
  font-weight:800;
  font-size:0.8em;
}
.leftbox{
  height:570px;
  width:290px;
  background:lightsalmon;
  margin-top: 0px;
  overflow:scroll;

}
.rightbox{
  float:right;
  height:570px;
  width:1000px;
  background:lightgoldenrodyellow;
  margin-top: -570px;
  overflow:scroll;

}
.send{
  margin-top: 451px;
}
input[type=text], select {
width: 85%;
padding: 12px 20px;
margin: 8px 0;
margin-top: 8px;
margin-left: 0px;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-top: 477px;
height: 80px;
margin-left: 35px;
overflow:scroll;
}
P{
  font-size: 12px;
  text-decoration: none;
  color: BLACK;
  font-size: 20px;
}
.chatbox{
  float:left;
  width:500px;
  background-color:palevioletred;
  border-radius:40px;
}
.chatboxright{
  float:right;
  width:500px;
  background-color:palevioletred;
  border-radius:40px;

}
.left{
  float:left;
   margin-right:40px;
   padding-right: 25px;
   padding-left:25px;
   padding-top:10px;
}
.leftdate{
  float:left;
   margin-right:40px;
   padding-right: 25px;
   padding-left:25px;
  }

.right{
   float:right;
   margin-right:30px;
   padding-right: 25px;
   padding-left:25px;
   padding-top:10px;
}
.rightdate{
  float:right;
   margin-right:30px;
   padding-right: 25px;
   padding-left:25px;

}

.list{
  font-size: 30px;
  height:50px;
  width:100%;
  background-color:lightblue
}
.buttonlist{
 text-align:left;
 padding:10px;
 width:250px;
 background-color: aquamarine;
 border: 2px solid black;
 margin:5px;
}
.close{
  float:left;
  background:goldenrod;
  width:100px;  padding-top:5px;
  padding-bottom:5px;
  text-align: center;
  color:white;
  border-radius:40px;
  border: #5986da 1px solid;
  
  margin-top: 6px;
  margin-bottom:20px;
  margin-right:px;
  float:left;
  margin-left: 1145px;
  font-weight:800;
  font-size:0.8em;

}