<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DashBoard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../assests/dashboard.css" />
    <script src="main.js"></script>
</head>
<body>
<div class="topbox"><p style="color:blue;font-size:40px;">CHATAPP</p><button class="buttonlog" ng-click="logout()">LOGOUT</button></a>
</div>
<div class="leftbox"><li ng-repeat="list in array">{{list}}</li></div>
<div class="rightbox">
   <div><input type="text" id="text"  placeholder="Type your text here">
        <button class="send">SEND</button>
    </div>
</div>
</body>