<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DashBoard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../assests/dashboard.css" />
    <script src="main.js"></script>
</head>

<body>
    <div class="topbox">
        <p style="color:blue;font-size:40px;">CHATAPP</p>
        <button class="buttonlog" ng-click="logout()">LOGOUT</button></a>
    </div>
    <div class="leftbox" >
        <div  ng-repeat="list in array">
            <button class="buttonlist" ng-click="receiver(list.userid,list.firstname)"><span>{{list.firstname}}<br></span></button>
        </div>
    </div>
    <div class="rightbox" >
        <div ng-repeat="chat in chat_array track by $index">
        <p class="chatbox" ng-if="chat.firstname!=userlogin">
            <span class="left">{{chat.firstname}} : {{chat.message}}</span><br>
            <span class="leftdate">{{chat.dateTime}}</span> </p>
            <br>
        <p class="chatboxright" ng-if="chat.firstname==userlogin">
                 <span class="right">{{chat.firstname}} : {{chat.message}}</span><br>
                <span class="rightdate">{{chat.dateTime}}</span> </p>
        
        </div>
        <div><input type="text" id="text" placeholder="Type your text here" ng-model="message">
            <button class="send" ng-click="add()">SEND</button>
        </div>
    </div>
</body>