<!-- The <div> element is often used as a container for a class registration. -->
<div class="registration">
  <!-- the form-data is created with the name registration form. -->
  <form name="form">
    <h2 align="center">Registration Form</h2>
    <label>Firstname</label>
    <input type="text" placeholder="Enter your first name" ng-model="user.firstname" ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,60}$/"
      name="firstname" />
    <span style="color:red" ng-show="form.firstname.$dirty && form.firstname.$invalid">
      Please Enter Valid Name.!
    </span>
    <p class="sample"></p>

    <label>Lastname</label>
    <input type="text" placeholder="Enter your last name " ng-model="user.lastname" ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,60}$/"
      name="lastname" />
    <span style="color:red" ng-show="form.lastname.$dirty && form.lastname.$invalid">
      Please Enter Valid Name.!
    </span>

    <p class="sample"></p>
    <!-- The HTML <label> element represents a caption for Email and declaring input from user -->
    <label>email-id</label>
    <input type="text" placeholder="Enter your email-id " ng-model="user.email" ng-pattern="/^(([^()\[\]\\.,;:\s@]+)*)|((.+))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/"
      name="email" />
    <span style="color:red" ng-show="form.email.$dirty && form.email.$invalid">
      Please Enter Valid Email.!
    </span>
    <p class="sample">
    </p>
    <!-- The HTML <label> element represents a caption for Password and declaring input from user -->
    <label>Password</label>
    <input type="password" placeholder="Enter the password" ng-model="user.password" ng-pattern="/^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{6,})/"
      name="password">
    <span style="color:red" ng-show="form.password.$dirty && form.password.$invalid">
      contain atleast 8 characters,1 specialcharcter,1 numeric,1 Capital and small alphabet.!
    </span>

    <p class="sample">
    </p>
    <!-- The HTML <label> element represents a caption for confirm password and declaring input from user -->
    <!-- <label>Confirm password</label>
          <input type="confirm password" placeholder="Re-Enter the password"/>
          <p class="sample"> -->
    <!-- </p> -->
    <!-- The HTML <label> element represents a caption for Mobilenumber and declaring input from user -->
    <label>MobileNumber</label>
    <input type="number" placeholder="Enter your mobile number" ng-model="user.mobile" " required maxlength="10
      " ng-pattern="/^[7-9][0-9]{9}$/ " name="mobile "/>
          <span style="color:red " ng-show="form.mobile.$dirty && form.mobile.$invalid ">   
            Please Enter Valid  Mobile No.!  
            </span>  
          <p class="sample ">
          </p>
          <a href="#!/register "align ="right "><div class="buttonsub " ng-click="register() ">Submit</div></a>
          <br><br><br><br>
          <a href="# "><div class="text ">AlreadyRegistered</div></a>
          <a href="#!/login " text-align="left "> <div class="buttonlog " ng-click="login() ">Login</div></a>
        </form>
      </div>